$primary-color: #8D81AC;
$primary-light: #FFFFFF;
$color-bg-top: #27262A;
$menu-bg: #333333;
$color-comment: #848E97;
$color-title: #635C73;
$dark-text-subtitle: #323232;
$bg-main: #F4F4F4;
$light-text: #848E97;
$people-comment:  #A291A5;
$background-line: #645766;
$agency-bg: #463048;
$agency-top: #000000;




$title-fonts: 'Montserrat', sans-serif;
$text-fonts: 'Lato', sans-serif;