.features{
    min-width: 320px;
    box-sizing: border-box;
    text-align: center;   

    @media screen and (min-width:993px){       
        background-color: $bg-main;
        padding-top: 94px;
        padding-bottom: 33px;
    }

    // grid 
    
    &__grid{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: minmax(300px, 1fr);
        grid-template-rows: repeat(3, auto);
        column-gap: 20px;
       
        @media screen and (min-width:993px) and (max-width:1200px){            
            grid-template-columns:  minmax(486px, 1fr);
            grid-template-rows: repeat(2, auto);
            transition: all, 0.5, ease-in-out;                      
        }

        @media screen and (min-width:1201px){
            grid-template-columns: 486px, 600px;
            grid-template-rows: repeat(2, auto);
        }      
    }
    
    // purple title

    &__title{ 
        @include title(bold, 32px, 38px);        
        color: $primary-color;               
        text-align: center;
        margin-top: 100px;
        position: relative;        

        @media screen and (min-width:481px) and (max-width:992px){
            @include title(bold, 42px, 44px);
            margin-top: 140px;
        }

        @media screen and (min-width:993px) {            
            @include title(bold, 42px, 44px);
            margin-top: 0;
            grid-column-start:  2;
            grid-row-end: 2;
            order: 0;            
        }
    }

    // pseudoelements for puple title

    &__title::before{
        content: "\003C";
        color: $primary-color;
    }

    &__title::after {
        content: "\003E";
        color: $primary-color;
        font-weight: bold;
    }

    // wrapper for content

    &__wrapper{
        box-sizing: border-box;

        @media screen and (min-width:993px) and (max-width:1200px){
            flex-basis:40%;
            margin-left: 0;
            order:-1;
            grid-row-start: 1;
            grid-row-end:  3;
        }

        @media screen and (min-width:1201px){
           max-width: 600px;
           margin-left: 0;
           order:-1;
           grid-row-start: 1;
           grid-row-end:  3;
        }
    }

    // small images

    &__icon{
        width: 114px;
        margin: 36px auto 0;                   
    }

    // container for big image

    &__screen{
        box-sizing: border-box;
        margin-top: 64px;
        
        margin-left: auto;
    margin-right: -10px;
    margin-bottom: 6px;

        @media screen and (min-width:481px) and (max-width:992px){
            margin-top: 74px;
            min-width:92%;
        }
        @media screen and (min-width:993px){
            margin-top: 18px;
            grid-column-start: 2;
            grid-row-start: 2;
            min-width:50%;
           
        }

    }
}

// wrapper small images +  subtitle-text

.features-content{
    box-sizing: border-box;

    @media screen and (min-width:481px) {
        @include flex;       
        column-gap: 1.4rem;
        margin-left: 1.8rem;
    }   

    // wrapper subtitle and text

    &__wrap{
        box-sizing: border-box;
        text-align: center;
        @media screen and (min-width:481px){
            text-align: left;
            width:76%;
        }
    }

    &__title{
        @include title(normal, 16px, 16px);
        color: $dark-text-subtitle;
        margin-top: 21px;

        @media screen and (min-width:481px) and (max-width:992px){
            @include title(normal, 16px, 21px);
            margin-top: 50px;
        }
    }

    &__text{
        @include text($font-size:14px, $line-height:21px);
        color: $light-text;
        margin-top: 14px;        
    }
}

// big image

.features-screen{
    flex-basis: 317px;
    min-height: 58vh;    
    transition: all, 0.5, ease-in-out; 

    @media screen and (min-width:481px) and (max-width:992px){
        margin-right: -10px;
    }

    @media screen and (min-width:1201px){
        max-width:600px;
    }
  
    &__img{
        object-fit:cover;
        object-position: top 0 left 0;
        width: 100%;
        height: 100%; 
    }
}