@import "./helpers/mixins";
@import "./helpers/reset";
@import "./helpers/variables";
@import "sections/main";

.container {
   min-width:300px;

    @media screen and (min-width:1201px){
        width: 1144px;
    }

    margin: 0 auto;
    padding-inline:10px;
    box-sizing: border-box;
}
